@inherits LayoutComponentBase
@using PuntoDeVenta.Components.Compartido
@inject NotificationService Notifier

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
                <a class="btn btn-outline-primary" href="tutorial">
                    <i class="bi bi-info-circle-fill" aria-hidden="true"></i> Ayuda (Tutorial)
                </a>
        </div>

        <article class="content px-4">
            <Notification />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>